/.test-mt
/.test-ref
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-fra.fra.metadix
/apertium-nno-nob.nno-nob.t1x
/apertium-ron.ron.dix
/autom4te.cache
/config.log
/config.status
/configure
/fra-ron.autobil.bin
/fra-ron.autogen.bin
/fra-ron.autolex.bin
/fra-ron.automorf.bin
/fra-ron.autopgen.bin
/fra-ron.mode
/fra-ron.prob
/fra-ron.rlx.bin
/fra-ron.t1x.bin
/fra-ron.t2x.bin
/fra-ron.t3x.bin
/install-sh
/kbu-make
/missing
/modes
/nno-nob.t1x.bin
/nob-nno.t1x.bin
/ron-fra.autobil.bin
/ron-fra.autogen.bin
/ron-fra.autolex.bin
/ron-fra.automorf.bin
/ron-fra.autopgen.bin
/ron-fra.mode
/ron-fra.prob
/ron-fra.rlx.bin
/ron-fra.t1x.bin
/ron-fra.t2x.bin
/ron-fra.t3x.bin
/ron-fra_eco.autobil.bin
/ron-fra_eco.automorf.bin
/ron-fra_eco.mode
/test/*-output.txt
